.noteList{
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
  background-color: #fef68a;
	width: 200px;
	height: max-content;
  margin: 20px;
}
.noteContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
