.noteList{
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	width: 200px;
	max-height: max-content;
  margin: 20px;
	margin-bottom: 15px;
	gap: 1.5rem;
}
