.searchBar {
	display: flex;
  flex-direction: row;
  justify-content: space-between;  
  border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.searchBarAddButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchInput{
  width: 150px;
  height: 30px;
  border-radius: 15px;
  padding: 4px;
}
.searchButton{
	background-color: rgb(196, 255, 144);
  width: 100px;
  height: 40px;
  padding: 4px;
  border-radius:15px ;
}
.addnoteButton{
  background-color: #fef68a;
  width: 100px;
  height: 40px;
  padding: 4px;
  border-radius:15px ;
  margin-left: 100px;
}