
.appLightBackgroundBackground{
  background-color: rgb(245, 236, 225);
  padding: 5%;
  padding-top: 3%;
  min-height: max-content;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100vh;
}
.appDarkBackgroundBackground{
  background-color: rgb(54, 54, 54);
  padding: 5%;
  padding-top: 3%;
  min-height: max-content;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}
.addnoteDiv{
  align-items: left;
  margin: 10px;

}

.addnoteButton{
  background-color: #fef68a;
  width: 150px;
  height: 60px;
  padding: 4px;
  border-radius:30px ;
}

.notesDisplayScreen{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.allNotesDisplay{
  width: 35%;
  height: max-content;
 
}
.notesWithCategories{
  width: 64%;
  height: max-content;
}

